<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Yist Lin">
  <title>Online Bible</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <div class="container" id="page_content">
    
    <!-- LOGGED IN CONTENT HERE -->

    <div class="row" style="margin-top: 15px;">
      <div class="col-md-10 col-md-offset-1">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/?lang=<%= lang %>">線上恢復本聖經</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/?lang=ch">中文</a></li>
                <li><a href="/?lang=en">English</a></li>
              </ul>
              <form class="navbar-form navbar-right" action="/search" type="GET">
                <div class="form-group">
                  <input type="text" name="search" class="form-control" placeholder="Type to search">
                </div>
                <input type="hidden" name="lang" value="<%= lang %>">
                <button type="submit" class="btn btn-default"><%= (lang === 'ch')?'搜尋':'Search' %></button>
              </form>
            </div><!-- /.navbar-collapse -->
            
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <table class="table borderless">
          <tbody id="verse_container">
            <% for (key in results) { %>
            <tr>
              <td><a href="<%= results[key].url %>"><span class="resultIndex"><%- results[key].addr %></span></a></td>
              <td><span class="<%= lang %>_verse"><%- results[key].verse %></span></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1" style="margin-top: 25px;">
        <p class="footer"><small>
          Copyright &copy; Yist Lin 2016-2017<br>
          POWERED BY BLUEHOST WEB HOSTING
        </small></p>
      </div>
    </div>

    <!-- <script type="text/javascript" src="./js/jquery-1.11.3.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>

  </div>

</body>

</html>
